img {
    padding:20px;
    top:125px;
    position:absolute;
}
.boodschap 
{
    position:absolute;
    top:30px;
    left:25px;
    background-color:#00FFFF;
    background-origin:padding-box;
    margin:1em;
    width:750px;
    height:125px;
    overflow:auto;
    font-weight:bold;
}

h1 {
   color:#76923b;
}